.form-label{
    color: #5a3e30;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 40px; 
}
.capitalize{
    margin: 0px 50px 20px 0px;
}
