.dash-page{
    border-top: 2px solid #5a3e30;
}
.profile-bar{
    display: inline-block;
    width: 20%;
    background-color:  #a28975;
    margin-bottom: 300px;
    padding: 40px 40px 500px 40px;
    border-bottom-right-radius: 15px;
    text-align: center;
    border: 1px solid black;
    float: left;
}
.dash-content{
    display: inline-block;
    margin-bottom: 300px;
    width: 80%;
}
.add-brew-btn{
    margin-left: 38%;
    /* margin-top: 100px; */
}
.profileBtn{
    display: block;
    background-color: #5a3e30;
    color: seashell;
    border:0;
    margin-top: 20px;
    width: 200px;
    height: 50px;
    border-radius: 25px;
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: 2px 2px 5px black;
    padding-top: 12px;
}

.profile-text{
    text-align: center;
    color: #5a3e30;
    margin-top: 20px;
    font-size: 22px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.helpful{
    margin: 80px 0px 30px 0px;
    border-bottom: 1px solid #5a3e30;
}
.your-brews-title{
    text-align: center; 
    margin-left: 35%;
    width: 30%;
    color: #5a3e30;
    font-size: 45px;
    border-bottom: 2px solid #5a3e30;
    margin-top: 60px;
    margin-bottom: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.brew-div{
    margin-bottom: 50px;
    padding: 100px 0px 100px 0px;
    border-bottom: 1px solid #5a3e30;
    border-top: 1px solid #5a3e30;
    height: 800px;
    overflow-y: scroll;
    overflow: hidden;
}
.brew-item-body{
    background-color: seashell;
}
.brew-title-text{
    margin-right: 30px;
    display: block;
    text-align: left;
    padding-left: 30px;
}
.text{
    width: 100%;
    background-color: seashell;
}




