.input-button{
    background-color: #a28975;
    color: seashell;
    width: 200px;
    height: 60px;  
    font-size: 24px;
    border-radius: 15px;
    border: none;
    text-shadow: 2px 2px 5px black;
}
