.brew-page{
    border-top: 2px solid #5a3e30;
    padding: 100px 200px 300px 200px;
}
.brew-tab{
    margin-bottom: 30px;
    /* box-shadow: 3px 3px 20px 3px gray; */
}
.brew-title{
    color: #5a3e30;
    font-size: 45px;
    border-bottom: 2px solid #5a3e30;
    text-align: center;
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.brew-desc{
    margin-bottom: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color: #5a3e30;
    font-size: 20px;
}
.create-brew-btn{
    margin-left: 40%;
}
.brew-btn-div{
    text-align: center;
}

.custom-modal{
    width: 800px;
    border-radius: 15px;
    background-color: seashell;
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.custom-overlay{
    opacity: 1;
}
.modal-title{
    text-align: center;
    font-size: 32px;
    border-bottom: 2px solid #5a3e30;
    margin: 30px 100px 40px 100px;
}
.modal-category{
    margin: 10px 20px 20px 20px;
    font-weight: bold;
    font-size: 20px;
    border-bottom: 1px solid #5a3e30;
}
.modal-selection{
    margin-left: 40px;
}

.brew-name-title{
    margin-bottom: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #5a3e30;
    font-size: 20px;
    font-weight: bold;
}

.brew-name-input{
    border: none;
    padding: 5px 5px 5px 5px;
    margin-top: 10px;
    width: 70%;
    border-bottom: 1px solid #5a3e30;
    background-color: seashell;
    color: #5a3e30;
    font-size: 22px;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    margin-bottom: 20px;
    
}

.brew-name-input:focus{
    border-bottom: 3px solid #e08910;
    width: 80%;
    font-size: 26px; 
}



